[submodule "xsimd"]
	path = xsimd
	url = https://github.com/QuantStack/xsimd.git
[submodule "tests/unittests/googletest"]
	path = tests/unittests/googletest
	url = https://github.com/google/googletest.git
